# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives: **
- List popular languages for Data Science
- List popular tools for Data Science
- List popular Tools for Data Science
- Perform basic arthematic

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java
5. Scala
6. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. caret
5. ggplot
6. sklit learn

|Data Science Tools|
|--------|
|Goggle colab|
|Watson Studio|
|Github|
|R studio|
|VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

In [ ]:
## Author
Sahil Kumar